# Django temp files
**/__pycache__/
**/*.pyc

# EDMap Django migrations folder
EDMapService/EDMapWebapp/migrations/**

# EDMap sqlite file
EDMapService/db.sqlite3

# MrED Django migrations folder
MrED/MrEDWebapp/migrations/**

# MrED sqlite file
MrED/db.sqlite3

.vscode/
