{% extends "base.html" %}

{% block content %}
{% load edmap_extras %}
<div id="map" style="height: 800px; width: 1000px"></div>

{{ coordinates|json_script:"coordinatesdata" }}
{{ view_coordinate|json_script:"view_coordinate_json" }}

<script>
    // coordinates: An array of all parsed ED coordinate entries
    const coordinates = JSON.parse(document.getElementById('coordinatesdata').textContent);
    // view_coordinate: Location to start the user on for the generated map
    const view_coordinate = JSON.parse(document.getElementById('view_coordinate_json').textContent);

    // Create map with given view coordinate
    var map = L.map('map').setView(view_coordinate, 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    coordinates.forEach(coord => {
        const hospitalName = coord[0];                              //gets name
        const latitude = coord[1];                                  //gets latitude
        const longitude = coord[2];                                 //gets longitude

        const marker = L.marker([latitude, longitude]).addTo(map);  //adds marker with information
        marker.bindPopup(hospitalName);                             //adds popup to the marker
    });

</script>
{% endblock %}
